<div class="intro">
    <p>
    Adjet - is a kind of small application based on widget;
    </p>
</div>

<h2>Description</h2>

<p>The module allows you to create small applications as widget.</p>

<p>It provides:</p>
<ul>
  <li>Regular widget workflow</li>
  <li>Unlimited number of ordered/customizable sections (similar to Y.WidgetStdMod)</li>
  <li>InCode nodes inside sections</li>
  <li>Simple attr -> binding (with attrNameChange listeners)</li>
</ul>

<p>It should be really useful for rapid development & simple data binding</p>

<p>There are a lot of TODOs there - I'm just started.</p>

<h3>In order to see a simple example : `checkout assets/sample/proto.html`</h3>

```
//Module example code
```

